body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
    flex: 0, 0, 50px;
    padding: 50px;
}
img {
    width: 100%;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 10px;
    font-weight: 100, strong;
}
video {
    width: 700px;
}

/* Add a black background color to the top navigation */
nav {
    position: fixed; /* fix nav bar to the top */
    left: 0;
    top: 0;
    width: 100%;
    background-color: #401610;
    overflow: hidden;
    padding: 10px;
    color: #f3f3f3;
    font-size: 3vw;
  }

  /* above from link: https://www.w3schools.com/howto/howto_js_topnav.asp */

  nav a:visited {
      color:#f3f3f3;
  }
.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 700px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    border: 2px solid #aaa;
    margin-bottom: 20px;
}
.card .avatar {
    width: 128px;
    border-radius: 20%;
    margin-top: 30px;
}
.avatar {
    width: 80px;
}
.reference {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.reference li {
    width: 100px;
    display: inline-block;
    padding: 20px 10px;
}
.reference li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}
.ability_icons {
    width: 64px;
    height: 64px;
}
.site_icons {
    max-width: 100%;
}
/* section {
    display: flex;
    flex: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1c1c1c;
    color:#b7b7b7;
} */
footer {
    flex: 0 0 5px; /* keeps the footer at the bottom */
    margin-top: auto;
    text-align: center;
    padding: 5px;
    background-color: DarkSalmon;
    color: white;
  }
  .button {
      border-radius: 50%;
  }
  p {
      padding-right: 14px;
  }
  a:visited {
      color:#9231de;
  }
  .minimap_icon {
      width: 32px;
  }
  /* article {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
  } */
  section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      background-color: #1c1c1c;
      color:#b7b7b7;
  }