body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color:#222;
}
img {
    width: 100%;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 10px;
    font-weight: 100, strong;
}
video {
    width: 700px;
}

/* Add a black background color to the top navigation */
nav {
    background-color: #f3f3f3;
    overflow: hidden;
    margin: 10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* above from link: https://www.w3schools.com/howto/howto_js_topnav.asp */
.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    border: 2px solid #aaa;
}
.card .avatar {
    width: 80px;
    border-radius: 80%;
    margin-top: 50px;
}
.reference {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.reference li {
    width: 100px;
    display: inline-block;
    padding: 20px 10px;
}
.reference li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}
.ability_icons {
    width: 64px;
    height: 64px;
}
.site_icons {
    max-width: 100%;
}
section {
    display: flex;
    flex: auto;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }