body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color:#222;
}
img {
    width: 100%;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 10px;
    font-weight: 100, strong;
}
video {
    width: 700px;
}
.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    border: 2px solid #aaa;
}
.card .avatar {
    width: 80px;
    border-radius: 80%;
    margin-top: 50px;
}
.reference {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.reference li {
    width: 100px;
    display: inline-block;
    padding: 20px 10px;
}
.reference li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}
.ability_icons {
    width: 64px;
    height: 64px;
}

.site_icons {
    max-height: 48px;
}
#wiki {
    max-width: 100%;
}
#tsunami {
    max-width: 100%;
}